@import '~antd/dist/antd.css';

.App {
    width: 100%;
}

.App-header {
    background-color: #222;
    height: 100px;
    padding: 20px;
    color: white;
    width: 100%;
}

.App-header.theme-light {
  background-color: #cccccc;
  height: 100px;
  padding: 20px;
  color: darkblue;
  width: 100%;
}

.App-content {
    width: 700px;
    margin: 40px auto;
}

.App-title {
    font-size: 2em;
    color: inherit;
    text-align: center;
}

.App-intro {
    font-size: large;
}

.theme-switch {
  margin-top: 2em;
  text-align: right;
}